:root{
    --richBlack:#0B090A;
    --eerieBlack:#161a1d;
    --bloodRed: #660708;
    --rubyRed: #a4161a;
    --carnelian: #ba181b;
    --imperialRed: #e5383b;
    --silverChalice: #b1a7a6;
    --lightGray: #d3d3d3;
    --cutltured: #f5f3f4;
    --white: #ffffff;
   
}
.username{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--carnelian)
}
body{
    font-family: 'roboto', bold;
    font-size: 1.0em;
    color: var(--cutltured);
    text-rendering: optimizeLegibility;
    background: url("https://benrey.github.io/links/img/spidereye.jpeg") no-repeat fixed; 
    background-position: 0% 55%;
    overflow-x:hidden;
    background-attachment: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*-o-transition-property: none !important;
    background-repeat: no-repeat;background-color:#000000;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;*/
}
.tree {
  color: var(--cutltured);
  margin: .1em;
  text-align: center;
  width: 100%;
  max-width: 800px;
  text-transform;
  font-weight: 500px;
}
.username {
  color: var(--bloodRed);
  padding-right: .1em;
  font-size: 1.5em;
  transition:all 2s ease-in-out;
  transition-delay: 1ms;
  transition-duration: 20ms;
}
.tree .links {
  margin: .1m;
  padding: 3em;
  background-position: fixed;
}
.tree .footer {
  margin: 2rem;
}
.tree .profile-pic {
  width: 150px;
  border-radius: 50%;
  text-align: center;
}
.btn {
  background-color: var(--lightGray);
  border: 1px solid transparent;
  -webkit-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         5px 5px 0px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn:active {
  margin-top: 5px;
  margin-left: 5px;
}

h1{
    color:var(--richBlack)
}
/* navbar */
.navbar{
  background: var(--mainWhite);
  transition:all 2s ease-in-out;
}
.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0,0,0,0.4);
}
.navbar-change{
  position:fixed;
  width: 100%;
  padding: 1rem;
  background: rgba(0,0,0,0.4);
  z-index: 100;

}
.navbar-icon{
  margin: 0.75em auto;
  font-size: 2rem;
  color: var(--cutltured);
}
.navbar-toggler{
  outline-color: var(--cutltured)!important;
}
.nav-link{
  color: var(--cutltured);
  text-transform: capitalize;
}
.nav-link:hover{
  color: var(--cutltured);
}
.icons {
  margin-top: 2em;
  margin: .2em;
  padding-right: .1em;
}
.icons .nav-icons{
  color: var(--bloodRed);
  margin: 0em;
  padding: .15em;
  font-size: 2em;
  transition:all 2s ease-in-out;
  transition-delay: 1ms;
  transition-duration: 20ms;
}
.nav-icons:hover{
  color: var(--cutltured);
}
.footer{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--bloodRed);
  font-size:x-small;
}